html, body {
	background: #fff url('bg.png');
	color: #000;
	margin: 0;
    padding: 0;
    text-align: center;
}

input, select {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #dedede;
	margin: 0px;
}

#basicMap {
	width: 512px;
	height: 512px;
    margin: 0;
	background-color: #fff;
}


#top {
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin: 0 auto;
}

#head {
	height: 60px;
	text-align: center;
	font-size:32px;

}

#main {
	width: 470px;
	height: 512px;
	float: left;
	overflow: hidden;
	text-align: center;
	font-family:arial;
	font-size:13px;
	background-color: #fff;
}

#mapForm{
	padding-top:10px;
}

#mapBox {
	width: 512px;
	float: right;
	overflow: hidden;
	margin-left: 30px;
	background-color: #fff;
}

#footer {
	clear: both;
	width: 100%;
	background-color: #ff1;
}

.main-box {
	border: 1px solid #B3C9C9;
	box-shadow: 2px 2px 5px #98ACAC;
}

.btn {
	background: #649B9B;
	border: 1px solid #5BC0C0;
	color: #fff;
	text-shadow: 1px 1px #4C7D7D;
	padding: 8px;
}

.slider {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
	width: 60%;
}

.check-input {
	margin-left: 3px;
}

.first-half {
	float: left;
	width: 50%;	
	margin-left:10px;
}

.snd-half {
	float: right;
	width: 50%;
	margin-left:-40px;
	margin-right: 10px;
	display: visibility;
}
.first-half1 {
	float: left;
	width: 30%;	
	margin-top:-10px;
	line-height: 50px;	
	text-align: left;
	padding-left:30px;	
}

.snd-half1 {
	text-align: right;
	float: right;
	width: 55%;
	padding-right:30px;	
	margin-right: -5px;

}

#fileText {
	width: 58%;
}

#sizeImage {
	width: 30%;
}

#address {
	width: 65%;
}